@import 'reset';
@import 'variables';

#root {
  height: 500vh;
  background-color: $BackgroundC;
  overflow-x: scroll;
  padding: 50px;
  transition: 0.4s;
}

//Van valami haszna ennek?
.app {
  text-align: center;
}
//eddig
.deleteDashBtn {
  height: 40px;
  width: 60px;
  border-radius: 10px;
  text-align: center;
  background-color: white;
  border: none;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.09);
  font-size: 24px;
  color: grey;
  transition: 0.2s;

  &:hover {
    transform: scale(1.2);
    color: #fd8258;
    cursor: pointer;
  }
}
.deleteDashBtnContainer {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  width: 80%;
}
.dashBoardContainer {
  display: flex;
  height: 90vh;

  .dashboard {
    margin-right: 50px;
    transition: all 0.5s ease-in-out;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.05);

    .addCardBtn {
      height: 40px;
      width: 40px;
      border-radius: 10px;
      text-align: center;
      background-color: white;
      border: none;
      box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.09);
      font-size: 24px;
      color: grey;
      transition: 0.2s;

      &:hover {
        transform: scale(1.2);
        color: #fd8258;
        cursor: pointer;
      }
    }
  }

  .newItem {
    opacity: 0;
    animation: grow 0.8s ease-in-out forwards;
    //Ez minek?
    -webkit-animation: grow 0.8s ease-in-out forwards;
  }

  .addDashBtn {
    display: flex;
    align-items: flex-start;

    input {
      background-color: white;
      border: none;
      border-radius: 15px;
      font-size: 20px;
      padding: 20px;
      box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.05);
      outline: none;
      transition: 0.2s;
      color: grey;

      &:hover {
        transform: scale(1.1);
        box-shadow: 0px 0px 13px 7px rgba(0, 0, 0, 0.08);
        color: black;
        cursor: pointer;
      }
    }
  }
}

.dashboard-name {
  background-color: transparent;
  box-sizing: border-box;
  border: transparent;
  font-size: 20px;
  padding: 10px 0 40px 0px;
}

.deleteDashBtn {
  text-align: center;
  position: relative;
  z-index: 999;
}

#themeChange {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: -20px;
  text-align: center;

  p {
    margin-top: 5px;
  }

  & input:checked + i {
    background-color: #1e3487;
  }
}

.cardTitleHolder {
  button {
    height: 20px;
    width: 20px;
    border-radius: 5px;
    text-align: center;
    background-color: white;
    border: none;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.07);
    font-size: 16px;
    color: #fd8258;
    transition: 0.2s;
    margin-left: 10px;

    &:hover {
      transform: scale(1.2);
      color: black;
      cursor: pointer;
    }
  }
}

.card-text {
  width: 90%;
  min-height: 100px;
  background-color: white;
  margin: 10px 0;
  border: none;
}

.text-inp-but {
  height: auto;
  border-radius: 15px;
  margin-bottom: 50px;
  background-color: white;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.09);
}

.cardTitleHolder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  .cardTitle {
    width: 80%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    outline: none;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.025);
    height: 40px;
    font-size: 20px;
    font-weight: 600;
    z-index: 99;
  }
}

.form-switch {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  margin-top: 10px;
  padding-bottom: 30px;

  input {
    display: none;

    &:checked + i {
      background-color: #fd8258;
    }

    &:checked + i::before {
      transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0);
    }

    &:checked + i::after {
      transform: translate3d(22px, 2px, 0);
    }
  }

  i {
    position: relative;
    display: inline-block;
    margin-right: 0.5rem;
    width: 46px;
    height: 26px;
    background-color: #e6e6e6;
    border-radius: 23px;
    vertical-align: text-bottom;
    transition: all 0.2s linear;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      width: 42px;
      height: 22px;
      background-color: #fff;
      border-radius: 11px;
      transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
      transition: all 0.25s linear;
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      width: 22px;
      height: 22px;
      background-color: #fff;
      border-radius: 11px;
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
      transform: translate3d(2px, 2px, 0);
      transition: all 0.2s ease-in-out;
    }
  }

  &:active i::after {
    width: 28px;
    transform: translate3d(2px, 2px, 0);
  }

  &:active input:checked + i::after {
    transform: translate3d(16px, 2px, 0);
  }
}

.cardTrans {
  // transition: all 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;

  .inputClass {
    height: 150px;
    width: 75%;
    margin-top: 10px;
    margin-bottom: 30px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.025);
    outline: none;
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
  }
}

.cardDesc {
  width: 100%;
  opacity: 0%;
  position: absolute;
  margin-bottom: 20px;
}

//Ez minek?
@-webkit-keyframes grow {
  to {
    opacity: 1;
  }
}
//eddig

@keyframes grow {
  to {
    opacity: 1;
  }
}

//toggled
.themeChangeClr {
  background-color: #243447 !important;

  .themeChangeTxtClr {
    color: white;
  }
}

.hideDesc {
  display: flex;
  opacity: 100%;
  position: relative;
}

.killCard {
  display: none;
}
