*,
body,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

button,
textarea,
input {
  border: none;
  outline: none;
}

textarea {
  resize: none;
}

#root {
  height: 500vh;
  background-color: #e7f1fa;
  padding: 50px;
  overflow-x: scroll;
  transition: 0.4s;
}
#root #themeChange {
  margin-top: -20px;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
#root #themeChange p {
  margin-top: 5px;
}
#root #themeChange input:checked + i {
  background-color: #1e3487;
}

.deleteDashBtn {
  width: 60px;
  height: 40px;
  color: #fd8258;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.09);
  font-size: 24px;
  text-align: center;
  transition: 0.2s;
}
.deleteDashBtn:hover {
  color: black;
  transform: scale(1.2);
  cursor: pointer;
}

.dashBoardContainer {
  height: 90vh;
  display: flex;
}
.dashBoardContainer .dashboard {
  background-color: white;
  margin-right: 50px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.05);
  transition: all 0.5s ease-in-out;
}
.dashBoardContainer .dashboard .dashboardName {
  background-color: transparent;
  padding: 10px 0 40px 0px;
  font-size: 20px;
  border: transparent;
}
.dashBoardContainer .dashboard .addCardBtn {
  width: 40px;
  height: 40px;
  color: gray;
  background-color: white;
  font-size: 24px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.09);
  transition: 0.2s;
}
.dashBoardContainer .dashboard .addCardBtn:hover {
  color: #fd8258;
  transform: scale(1.2);
  cursor: pointer;
}
.dashBoardContainer .dashboard .text-inp-but {
  height: auto;
  background-color: white;
  margin-bottom: 50px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.09);
}
.dashBoardContainer .dashboard .text-inp-but .cardTitleHolder button {
  width: 20px;
  height: 20px;
  color: #fd8258;
  background-color: white;
  margin-left: 10px;
  font-size: 16px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.07);
  transition: 0.2s;
}
.dashBoardContainer .dashboard .text-inp-but .cardTitleHolder button:hover {
  color: black;
  transform: scale(1.2);
  cursor: pointer;
}
.dashBoardContainer .deleteDashBtnContainer {
  width: 80%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.dashBoardContainer .deleteDashBtnContainer .deleteDashBtn {
  text-align: center;
  position: relative;
  z-index: 999;
}
.dashBoardContainer .newItem {
  opacity: 0;
  animation: grow 0.8s ease-in-out forwards;
}
.dashBoardContainer .addDashBtn {
  display: flex;
  align-items: flex-start;
}
.dashBoardContainer .addDashBtn input {
  color: gray;
  background-color: white;
  padding: 20px;
  font-size: 20px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.05);
  transition: 0.2s;
}
.dashBoardContainer .addDashBtn input:hover {
  color: black;
  box-shadow: 0px 0px 13px 7px rgba(0, 0, 0, 0.08);
  transform: scale(1.1);
  cursor: pointer;
}

.cardTitleHolder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.cardTitleHolder .cardTitle {
  width: 80%;
  margin: 30px 0;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.05);
  height: 40px;
  font-size: 20px;
  font-weight: 600;
  z-index: 99;
}
.cardTitleHolder .cardTitle::placeholder {
  padding-left: 5px;
}

.form-switch {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding-bottom: 30px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
.form-switch input {
  display: none;
}
.form-switch input:checked + i {
  background-color: #fd8258;
}
.form-switch input:checked + i::before {
  transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0);
}
.form-switch input:checked + i::after {
  transform: translate3d(22px, 2px, 0);
}
.form-switch i {
  width: 46px;
  height: 26px;
  background-color: #e6e6e6;
  margin-right: 0.5rem;
  vertical-align: text-bottom;
  border-radius: 23px;
  display: inline-block;
  position: relative;
  transition: all 0.2s linear;
}
.form-switch i::before {
  content: "";
  width: 42px;
  height: 22px;
  background-color: white;
  border-radius: 11px;
  position: absolute;
  left: 0;
  transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
  transition: all 0.25s linear;
}
.form-switch i::after {
  content: "";
  width: 22px;
  height: 22px;
  background-color: white;
  border-radius: 11px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
  position: absolute;
  left: 0;
  transform: translate3d(2px, 2px, 0);
  transition: all 0.2s ease-in-out;
}
.form-switch:active i::after {
  width: 28px;
  transform: translate3d(2px, 2px, 0);
}
.form-switch:active input:checked + i::after {
  transform: translate3d(16px, 2px, 0);
}

.cardTrans {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  opacity: 0%;
  position: absolute;
}
.cardTrans .inputClass {
  width: 75%;
  height: 150px;
  margin: 10px 0 30px;
  padding: 10px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.05);
}

@keyframes grow {
  to {
    opacity: 1;
  }
}
.themeChangeClr {
  background-color: #243447 !important;
}
.themeChangeClr .themeChangeTxtClr {
  color: white;
}

.hideDesc {
  opacity: 100%;
  display: flex;
  position: relative;
}

/*# sourceMappingURL=app.css.map */
